<%= simple_form_for @recommendation do |f| %>
  <% if @recommendation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recommendation.errors.count, "error") %> prohibited this recommendation from being saved:</h2>

      <ul>
      <% @recommendation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div>

  <%= f.input :picture, accept:'image/png,image/gif,image/jpeg,image/jpg' %> 
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.association :genres, as: :check_boxes,collection:Genre.all.map{|g| [g.genre, g.id]}%>
  <%= f.input :context%>
  <%= f.button :submit %>
<% end %>
