<h1>Recommendations</h1>
<br>
<div class="row">
    <% @recommendations.each do |recommendation| %>
      <div class="col-md-8 pb-5">
        <div class="card ">
          <img class="card-img-top" <%=image_tag recommendation.picture, height: '250' if recommendation.picture.attached? %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-left">
              <div><%recommendation.genres.each do |b|%>
                <%= link_to b.genre, recommendations_path(genre: b.genre) %>
              <% end %>
              </div>
            </li>

          </ul>
          <div class="card-body">
            <h5 class="card-title"><%= link_to recommendation.title, recommendation_path(recommendation) %></h5>
            <p class="card-text">By: <%= recommendation.author %></p>
            <p class="card-text"><%= truncate(recommendation.context, length:100){link_to 'Read More', recommendation} %></p>
            <p class="card-text"><small class="text-muted">Created <%=time_ago_in_words(recommendation.created_at) %> Ago</small></p>
          </div>
          <div class="card-footer text-center">
            <%= link_to 'Show', recommendation, class:"card-link" %>
            <%= link_to 'Edit', edit_recommendation_path(recommendation) , class:"card-link"%>
            <%= link_to 'Destroy', recommendation, method: :delete, data: { confirm: 'Are you sure?' }, class:"card-link" %>
          </div>
        </div>
      </div>   
    <% end %>
</div>

<br>

<%= link_to 'New recommendation', new_recommendation_path %>
