<h1>New Recommendation</h1>

<%= simple_form_for @recommendation do |f| %>
  <% if @recommendation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recommendation.errors.count, "error") %> prohibited this booklisting from being saved:</h2>

      <ul>
      <% @recommendation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :picture %>
  <%= f.file_field :picture, accept:'image/png,image/gif,image/jpeg,image/jpg' %> 
  <%= f.input :title %>
  <%= f.input :author %>
  <%= select_tag(:genre_id, options_for_select(@genres), :prompt => "Select Genre") %>
  <%= f.input :context%>
  <%= f.button :submit %>
<% end %>


<%= link_to 'Back', recommendations_path %>
