<div class="jumbotron">
<div class="row">
  <div class="col-md-4">
    <%=image_tag @recommendation.picture, width: '200' if @recommendation.picture.attached? %>
    <div class="star-rating" data-score=<%=@avg_rating%>></div>

    <p>
      <strong>Title:</strong>
      <%= @recommendation.title %>
    </p>
    <div>
      <strong>Genre</strong>
      <%@recommendation.genres.each do |r|%>
        <%= r.genre %>
      <% end %>
    </div>
    <div>
      <strong>Author:</strong>
      <%= @recommendation.author %>
    </div>
  </div>
  <div class="col-md-7">
    <div>
      <strong>Context:</strong>
      <%= @recommendation.context %>
    </div>
  </div>
</div>
</div>



<%if @recratings.blank?%>
  <h4 class="pt-5">There are no reviews yet, would you like to write one?</h4>
  <% else %>
  <div class="pt-5"><%= @recommendation.recratings.count %> Ratings</div>
  <% @recratings.each do |rating| %>
    <%if rating.user_id?%>
      User: <%=rating.user.username%><br>
    <% end %>
    Score: <div class="star-rating" data-score=<%=rating.score%>></div>
    Title: <%=rating.title%><br>
    Content: <%=rating.context%><br>
    <%= link_to 'Delete',[rating.recommendation, rating], method: :delete, data: {confirm: 'Are you sure?'} %>
    <br>
  <% end %> 
<% end %>

<div class="col-md-6 pt-5">
  <h3>Add a Rating</h3>
  <%= render 'recratings/form' %>
</div>

<%= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
<%= link_to 'Back', recommendations_path %>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly:  true,
    score: function(){
      return $(this).attr('data-score')
    },
    })
</script>