<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recommendation.title %>
</p>

<p>
  <strong>Book:</strong>
  <%= @recommendation.book %>
</p>

<p>
  <strong>Author:</strong>
  <%= @recommendation.author %>
</p>

<p>
  <strong>Context:</strong>
  <%= @recommendation.context %>
</p>

<%= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
<%= link_to 'Back', recommendations_path %>
