<%=image_tag @recommendation.picture, width: '200' if @recommendation.picture.attached? %>

<p>
  <strong>Title:</strong>
  <%= @recommendation.title %>
</p>
<div>
  <p>Genre</p>
  <%@recommendation.genres.each do |r|%>
    <%= r.genre %>
  <% end %>
</div>
<p>
  <strong>Author:</strong>
  <%= @recommendation.author %>
</p>

<p>
  <strong>Context:</strong>
  <%= @recommendation.context %>
</p>

<h3><%= @recommendation.recratings.count %> Ratings</h3>


<%= render @recommendation.recratings %>
<h3>Add a Rating</h3>
<%= render 'recratings/form' %>

<%= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
<%= link_to 'Back', recommendations_path %>
