<div class="jumbotron">
<div class="row">
  <div class="col-md-4">
    <div class="text-center">
      <%=image_tag @recommendation.picture, width: '200' if @recommendation.picture.attached? %>
    </div>
    <div class="star-rating text-center" data-score=<%=@avg_rating%>></div>
    <hr class="my-4">
    <div class="pl-4">
      <p>
        <strong>Title:</strong>
        <%= @recommendation.title %>
      </p>
      <div>
        <strong>Genre</strong>
        <%@recommendation.genres.each do |r|%>
          <%= r.genre %>
        <% end %>
      </div>
      <div>
        <strong>Author:</strong>
        <%= @recommendation.author %>
      </div>
    </div>
    </div>
  <div class="col-md-7">
    <div>
      <strong>Context:</strong>
      <%= simple_format(@recommendation.context, class: 'context') %>
    </div>
  </div>
</div>
</div>


<div class="col-md-6 offset-md-1">
  <%if @recratings.blank?%>
    <h2 class="pt-5">There are no reviews yet, would you like to write one?</h2>
    <% else %>
    <h2 class="pt-5"><%= @recommendation.recratings.count %> Ratings</h2>
    <% @recratings.each do |rating| %>
      <%if rating.user_id?%>
        User: <%=rating.user.username%><br>
      <% end %>
      <%# Display rating %>
      Score: <div class="star-rating" data-score=<%=rating.score%>></div>
      Title: <%=rating.title%><br>
      Content: <%=rating.context%><br>
      <%= link_to 'Delete',[rating.recommendation, rating], method: :delete, data: {confirm: 'Are you sure?'} %>
      <br>
    <% end %> 
  <% end %>
</div>

<div class="col-md-6 pt-5">
  <h3>Add a Rating</h3>
  <%= render 'recratings/form' %>
</div>
<div class="col-md-6 pt-5">
  <%= link_to 'Edit', edit_recommendation_path(@recommendation) , class:"btn btn-dark"%> |
  <%= link_to 'Back', recommendations_path, class:"btn btn-dark" %>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly:  true,
    score: function(){
      return $(this).attr('data-score')
    },
    })
</script>