<h1 class ="pt-5">Books</h1>

<div class="row">
    <% @books.each do |book| %>
      <div class="col-md-3 pb-5">
        <div class="card ">
          <img class="card-img-top" <%=image_tag book.picture, height: '250' if book.picture.attached? %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-left">
              <div><%book.genres.each do |b|%>
                <%= link_to b.genre, books_path(genre: b.genre) %>
              <% end %>
              </div>
              </li>
              <li class="list-group-item text-left">
                <%if book.bookratings.any?%>
                <%# Calculate avg rating for index %>
                <div class="star-rating" data-score= <%=(book.bookratings.map{|r| r.score}.inject{|sum, number| sum + number}/(book.bookratings.size).to_f).round(2)%>></div>
                  <% else %>
                <div class="star-rating" data-score= 0></div>
              <% end %>
              </li>
          </ul>
          <div class="card-body">
            <h5 class="card-title"><%= link_to book.title, book_path(book) %></h5>
            <p class="card-text">By: <%= book.author %></p>
            <p class="card-text"><%= truncate(book.context, length:100){link_to 'Read More', book} %></p>
            <p class="card-text"><small class="text-muted">Created <%=time_ago_in_words(book.created_at) %> Ago</small></p>
          </div>
          <div class="card-footer text-center">
            <%= link_to 'Show', book, class:"card-link" %>
            <%= link_to 'Edit', edit_book_path(book) , class:"card-link"%>
            <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, class:"card-link" %>
          </div>
        </div>
      </div>   
    <% end %>
</div>
<div class="col-md-2">
  <%= link_to 'New book', new_book_path , class:"btn btn-primary"%>
</div>
<div style="display: flex; justify-content:center">
  <%=paginate @books%>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly:  true,
    score: function(){
      return $(this).attr('data-score')
    },
    })
</script>
