<%=image_tag @book.picture, width: '200' if @book.picture.attached? %>
<div class="star-rating" data-score=<%=@avg_rating%>></div>
<h3><%= @book.bookratings.count %> Ratings</h3>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<div>
  <p>Genre</p>
  <%@book.genres.each do |b|%>
    <%= b.genre %>
  <% end %>
</div>
<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Context:</strong>
  <%= @book.context %>
</p>

<br>



<%if @bookratings.blank?%>
  <h4>There are no revies yet, would you like to write one?</h4>
  <% else %>
  <% @bookratings.each do |rating| %>
    <%if rating.user_id?%>
      User: <%=rating.user.username%><br>
    <% end %>
    Score: <div class="star-rating" data-score=<%=rating.score%>></div>
    Title: <%=rating.title%><br>
    Content: <%=rating.context%><br>
  <% end %> 
<% end %>

<h3>Add a Rating</h3>
<%= render 'bookratings/form' %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>



  <script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly:  true,
      score: function(){
        return $(this).attr('data-score')
      },
      })
  </script>