<%=image_tag @book.picture, width: '200' if @book.picture.attached? %>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p>
  <strong>Genre:</strong>
  <%= @book.genre.genre %>
</p>
<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<%= link_to 'Edit', edit_booklisting_path(@book) %> |
<%= link_to 'Back', booklistings_path %>
