<%= form_with(model: booklisting, local: true) do |form| %>
  <% if booklisting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booklisting.errors.count, "error") %> prohibited this booklisting from being saved:</h2>

      <ul>
      <% booklisting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
