<%= form_for @booklisting do |f| %>
  <% if @booklisting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booklisting.errors.count, "error") %> prohibited this booklisting from being saved:</h2>

      <ul>
      <% @booklisting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div>

</div>
  <%= f.label :picture %> 
  <%= f.file_field :picture, accept:'image/png,image/gif,image/jpeg,image/jpg' %> 
<div>
  <%= f.label :title %> 
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :author %> 
  <%= f.text_field :author %>
</div>
<div>
  <%= f.label :genre %> 
  <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :genre)%>
</div>
<div>
  <%= f.label :condition %> 
  <%=f.collection_select(:condition_id, Condition.all, :id, :status, prompt: "Select a category")%>
</div>
<div>
  <%= f.label :price %> 
  <%= f.number_field :price %>
</div>
<div>
  <%= f.label :description %> 
  <%= f.text_area :description%>
</div>
  <%= f.button :Submit %>
<% end %>
