<%= simple_form_for @booklisting do |f| %>
  <% if @booklisting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booklisting.errors.count, "error") %> prohibited this booklisting from being saved:</h2>

      <ul>
      <% @booklisting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div>

  <%= f.input :picture, accept:'image/png,image/gif,image/jpeg,image/jpg' %> 
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.association :genres, as: :check_boxes,collection:Genre.all.map{|g| [g.genre, g.id]}, prompt: "Select a Genre"%>
  <%= f.input :condition_id, collection: Condition.all.map{|c| [c.status, c.id]}, prompt: "Select a Condition"%>
  <%= f.input :description%>
  <%= f.input :price %> 
  <%= f.button :submit %>

<% end %>
