<p id="notice"><%= notice %></p>

<h1>Booklistings</h1>

<%= form_tag(booklistings_path, method: :get) do |f| %>
  Search By Title
  <%= text_field_tag(:search, params[:search])%>   
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<br>

  <div class="row">
      <% @booklistings.each do |booklisting| %>
        <div class="col-md-4 pb-5">
          <div class="card ">
            <img class="card-img-top" <%=image_tag booklisting.picture, height: '250' if booklisting.picture.attached? %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-left">
                <div><%booklisting.genres.each do |b|%>
                  <%= link_to b.genre, booklistings_path(genre: b.genre) %>
                <% end %>
                </div>
                <div class="row">
                  <div class="col-md-4">$AUS <%= booklisting.price %></div>
                  <div class="col-md-6">Condition: <%= booklisting.condition.status %></div>
                </div>
                </li>
            </ul>
            <div class="card-body">
              <h5 class="card-title"><%= link_to booklisting.title, booklisting_path(booklisting) %></h5>
              <p class="card-text">By: <%= booklisting.author %></p>
              <p class="card-text"><%= truncate(booklisting.description, length:100){link_to 'Read More', booklisting} %></p>
              <p class="card-text"><small class="text-muted">Created <%=time_ago_in_words(booklisting.created_at) %> Ago</small></p>
            </div>
            <div class="card-footer text-center">
              <%= link_to 'Show', booklisting, class:"card-link" %>
              <%= link_to 'Edit', edit_booklisting_path(booklisting) , class:"card-link"%>
              <%= link_to 'Destroy', booklisting, method: :delete, data: { confirm: 'Are you sure?' }, class:"card-link" %>
            </div>
          </div>
        </div>   
      <% end %>
  </div>
<br>
<div class="col-md-2">
  <%= link_to 'New Booklisting', new_booklisting_path, class:"btn btn-primary" %>
</div>
<div style="display: flex; justify-content:center">
  <%=paginate @booklistings%>
</div>
