<p id="notice"><%= notice %></p>

<%=image_tag @booklisting.picture, width: '200' if @booklisting.picture.attached? %>

<p>
  <strong>Title:</strong>
  <%= @booklisting.title %>
</p>
<p>
  <strong>Condition:</strong>
  <%= @booklisting.condition.status %>
</p>
<p>
  <strong>Author:</strong>
  <%= @booklisting.author %>
</p>
<div>
  <p>Genre</p>
  <%@booklisting.genres.each do |b|%>
    <%= b.genre %>
  <% end %>
</div>
<p>
  <strong>Description:</strong>
  <%= @booklisting.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @booklisting.price %>
</p>
<button data-stripe="payment">
  Buy Book <%= number_to_currency(@booklisting.price) %>
</button>

<h3><%= @booklisting.booklistcomments.count %> Commments</h3>


<%= render @booklisting.booklistcomments %>
<h3>Add a Comment</h3>
<%= render 'booklistcomments/form' %>

<%= link_to 'Edit', edit_booklisting_path(@booklisting) %> |
<%= link_to 'Back', booklistings_path %>

<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>